#!/bin/bash

#
# Configuration for Loot
#

# The ssh hostname or configuration name of the remote server
export LOOT_REMOTE_SERVER=""

# The path on the remote server
export LOOT_REMOTE_PATH=""

# The public url of the loot
export LOOT_PUBLIC_URL=""

#
# Configuration for display modes
#

# Screen configuration for Mobile mode
export DISPLAY_MODE_PARAMS_MOBILE=""

# Screen configuration for Docked mode
export DISPLAY_MODE_PARAMS_DOCKED=""

# Screen configuration for Presentation mode
export DISPLAY_MODE_PARAMS_PRESENTATION=""

